@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<section>
    <table>
        <thead>
        <tr>
            <td>Dato</td>
            <td>Temperatur</td>
            <td>Beskrivelse</td>
        </tr>
        </thead>
        <tbody>
            @foreach (var w in Model.WeatherForecasts)
            {
                <tr>
                    <td>@w.Date</td>
                    <td>@w.TemperatureC</td>
                    <td>@w.Summary</td>
                </tr>
            }
        </tbody>
    </table>
</section>